@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.container {
    text-align: center;
}

.moving-img-bottom {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: auto;
    animation: jalankiri 8s linear infinite;
}

@keyframes jalankiri {
    from {
        transform: translateX(1500%);
    }

    to {
        transform: translateX(-1500%);
    }
}

a {
    font-family: "Pixelify Sans";
    font-weight: bold;
    text-decoration: none;
}

p {
    font-size: 50px;
}

img {
    display: block;
    margin: auto;
    height: 300px;
}

.buttons {
    margin-top: 20px;
}

.button {
  font-family: "Pixelify Sans";
  font-size: 20px;
  margin: 25px 30px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  border-radius: 10px;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

button:hover {
    background-color: #ffffff;
}

@media (max-width: 768px) {
    p {
        font-size: 36px; 
    }

    img {
        height: 200px; 
    }

    button {
        font-size: 20px; 
        padding: 8px 16px; 
        margin: 20px 10px; 
    }

    img.moving-img-bottom {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 30px; /* Ubah sesuai ukuran gambar yang diinginkan */
        height: auto;
        animation: jalankiri 5s linear infinite;
    }
    
    @keyframes jalankiri {
        from {
            transform: translateX(800%);
        }
    
        to {
            transform: translateX(-800%);
        }
    }
}

@media (max-width: 480px) {
    p {
        font-size: 24px;
    }

    img {
        height: 150px;
    }

    button {
        font-size: 18px; 
        padding: 6px 12px; 
        margin: 15px 5px; 
    }

    img.moving-img-bottom {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 30px; /* Ubah sesuai ukuran gambar yang diinginkan */
        height: auto;
        animation: jalankiri 5s linear infinite;
    }
    
    @keyframes jalankiri {
        from {
            transform: translateX(750%);
        }
    
        to {
            transform: translateX(-750%);
        }
    }
}

div.clickEffect{
	position:fixed;
	box-sizing:border-box;
	border-style:solid;
	border-color:#000000;
	border-radius:50%;
	animation:clickEffect 0.4s ease-out;
	z-index:99999;
}
@keyframes clickEffect{
	0%{
		opacity:1;
		width:0.5em; height:0.5em;
		margin:-0.25em;
		border-width:0.5rem;
	}
	100%{
		opacity:0.2;
		width:15em; height:15em;
		margin:-7.5em;
		border-width:0.03rem;
	}
}
