@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    font-family: "Pixelify Sans";
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.container {
    text-align: center; 
}

a {
    text-decoration: none;
}

p {
    font-size: 60px;
}

img {
    display: block;
    margin: auto;
    height: 300px;
}

.buttons {
    margin-top: 20px;
}

.button {
  font-family: "Pixelify Sans";
  font-size: 20px;
  margin: 50px 50px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

button:hover {
    background-color: #ffffff;
}

@media (max-width: 768px) {
    p {
        font-size: 36px; 
    }

    img {
        height: 200px; 
    }

    button {
        font-size: 20px; 
        padding: 8px 16px; 
        margin: 20px 10px; 
    }
}

@media (max-width: 480px) {
    p {
        font-size: 24px;
    }

    img {
        height: 150px;
    }

    button {
        font-size: 18px; 
        padding: 6px 12px; 
        margin: 15px 5px; 
    }
}
