@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.container {
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-family: "Pixelify Sans";
    font-size: 30px;
    margin-top: 10px; /* Menambah jarak vertikal */
    text-align: center;
}

button {
    font-family: "Pixelify Sans";
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    margin: 50px 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 2px white;
}

button:hover {
    background-color: #ffffff;
}

img.hati {
    width: 100%;
    cursor: pointer; 
    outline: none;
    border: none;
}

.image-container {
    position: relative;
    display: inline-block;
}

.hover-text {
    position: absolute; /* Menggunakan absolute agar posisinya relatif terhadap container */
    bottom: 220px; /* Atur jarak dari bagian bawah kontainer */
    left: 50%; /* Posisikan di tengah horizontal kontainer */
    transform: translateX(-50%); /* Sesuaikan posisinya agar tetap berada di tengah horizontal */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: "Pixelify Sans";
    font-size: 20px;
    white-space: nowrap; /* Agar teks tidak terputus di baris baru */
}

img.moving-img-bottom {
    width: 20%;
    position: absolute;
    bottom: 15;
    left: 50%;
    animation: jalankiri 7s linear infinite;
}

@keyframes jalankiri {
    from {
        transform: translateX(1500%);
    }

    to {
        transform: translateX(-1500%);
    }
}

@media (max-width: 768px) {
    p {
        font-size: 36px; 
    }

    img.hati {
        width: 120%;
        cursor: pointer; 
        outline: none;
        border: none;
    }

    img.moving-img-bottom {
        width: 20%;
        position: absolute;
        bottom: 37;
        left: 50%;
        animation: jalankiri 4s linear infinite;
    }
    
    @keyframes jalankiri {
        from {
            transform: translateX(800%);
        }
    
        to {
            transform: translateX(-800%);
        }
    }

    .hover-text {
        position: absolute; /* Menggunakan absolute agar posisinya relatif terhadap container */
        bottom: 150px; /* Atur jarak dari bagian bawah kontainer */
        left: 50%; /* Posisikan di tengah horizontal kontainer */
        transform: translateX(-50%); /* Sesuaikan posisinya agar tetap berada di tengah horizontal */
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px;
        border-radius: 5px;
        font-family: "Pixelify Sans";
        font-size: 20px;
        white-space: nowrap; /* Agar teks tidak terputus di baris baru */
    }
}

@media (max-width: 480px) {
    p {
        font-size: 24px;
    }

    img.hati {
        width: 120%;
        cursor: pointer; 
        outline: none;
        border: none;
    }

    img.moving-img-bottom {
        width: 20%;
        position: absolute;
        bottom: 26;
        left: 50%;
        animation: jalankiri 4s linear infinite;
    }
    
    @keyframes jalankiri {
        from {
            transform: translateX(750%);
        }
    
        to {
            transform: translateX(-750%);
        }
    }

    .hover-text {
        position: absolute; /* Menggunakan absolute agar posisinya relatif terhadap container */
        bottom: 150px; /* Atur jarak dari bagian bawah kontainer */
        left: 50%; /* Posisikan di tengah horizontal kontainer */
        transform: translateX(-50%); /* Sesuaikan posisinya agar tetap berada di tengah horizontal */
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px;
        border-radius: 5px;
        font-family: "Pixelify Sans";
        font-size: 20px;
        white-space: nowrap; /* Agar teks tidak terputus di baris baru */
    }
}

div.clickEffect {
    position: fixed;
    box-sizing: border-box;
    border-style: solid;
    border-color: #000000;
    border-radius: 50%;
    animation: clickEffect 0.4s ease-out;
    z-index: 99999;
}

@keyframes clickEffect {
    0% {
        opacity: 1;
        width: 0.5em; 
        height: 0.5em;
        margin: -0.25em;
        border-width: 0.5rem;
    }
    100% {
        opacity: 0.2;
        width: 15em; 
        height: 15em;
        margin: -7.5em;
        border-width: 0.03rem;
    }
}
