@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

button {
    font-family: "Pixelify Sans";
    font-size: 35px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    margin: 50px 50px;

    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 2px white;
}

button:hover {
    background-color: #ffffff;
}